.group-tabs li{
  padding: 20px;
}
input#home{
  border-radius: 20px;
}
h3{
  text-align: center;
}
.labs a{
  text-decoration: none;
}
.tour{
  text-align: center;
  align-items: center;
  background-color: white;
}
.tour img{
  width: 50%;
  height: 50%;
}
.des div{
  display: block;
}

.out {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: minmax(100px,auto);
}
 img{
  width: 100%;
}
a {
    color: white;
}
ul.nav.sub {
  justify-content: center;
}
ul.nav.nav-tabs {

}
.nav.sub li{
  background-color: white;

}

.menu li{
  background-color: #f7f7f7;


}
.menu a{
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.menu a:hover{
  color: red;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}
.col-md-2 button.btn.btn-primary {
  top: 50%;
  width: 100%;
}
.col button.btn.btn-primary {
  background-color: azure;
  color: cadetblue;
}

ul.nav{
  padding-top: 40px;
}
form .row {
  display: block;
  padding: 7px 8px;
  margin-bottom: 7px;
}
form .row:hover {
  background: #f1f7fa;
}

#searchForm{

}
#searchForm label {
  text-align: left;

}
form .req { color: #ca5354; }

form .note {
  font-size: 1.2em;
  line-height: 1.33em;
  font-weight: normal;
  padding: 2px 7px;
  margin-bottom: 10px;
}
input#name,#code,#price{
  border-radius: 20px;
}

form input:focus, form textarea:focus { outline: none; }

/* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
::-webkit-input-placeholder { color: #aaafbd; font-style: italic; } /* WebKit */
:-moz-placeholder { color: #aaafbd; font-style: italic; }           /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #aaafbd; font-style: italic; }          /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #aaafbd; font-style: italic; }      /* Internet Explorer 10+ */

h5{
  color:
}
h3.footer-section-title {text-align: -webkit-left;}
button.btn.btn-success {
    background-color: floralwhite;
    color: darkblue;
    border-color: blue;
    font-size: x-large;

}
.info b{
  color: darkblue;
}
.detail b{
  color: darkblue;
}
.col-md-10 img{
  padding-top: 10px;
}
.col-md-2{
  padding-top: 10px;
}
.title a{
  position: absolute;
  color: white;
  font-size: 18px;
  top: 80%;
  padding: 10px;
    font-weight: bold;
}
.title2 a{
  position: absolute;
  color: white;
  font-size: 18px;
  top: 30%;
  padding: 10px;
  font-weight: bold;
}
.title3 a{
  position: absolute;
  color: white;
  font-size: 18px;
  top: 80%;
  padding: 10px;
    font-weight: bold;
}
.homepage{
  padding-bottom: 20px;
  color: cadetblue;

}
.tit{
  color: black;

}
div#navbarSupportedContent {
    background: cadetblue;
}
li.nav-item {
    background: border-box;
}

.footer li{
  display: flex;
}
.footer ul{
  justify-content: center;
  display: flex;
}
h3.footer-section-title{
  text-align: left;
}
.image-home{
width: 100%;
height: 500px;
}
.image-home img{
  width: 100%;
  height: 100%;
}
.item{
  position: absolute;
  width: 100%;
}
.item h3{
  position: absolute;
  top: 180px;
  left: 40px;
  color: #c0a554;
}
.item button{
  position: absolute;
  top: 250px;
  width: max-content;
  left: 40px;
  background-color: #c0a554;
  color:white;
  border-radius: 20px;
}
div#navbarSupportedContentex2{
  background-color: black;
  width: 100%;

}

#navbarSupportedContentex2 a.nav-link{
  color: white;
}
#navbarSupportedContentex2 a.nav-link:hover{
  color: #c0a554;
}
#navbarSupportedContentex2 button.btn.btn-outline-success.my-2.my-sm-0{
  border-style: hidden;
  color: white;
}
#navbarSupportedContentex2 button.btn.btn-outline-success.my-2.my-sm-0:hover{
  background-color: #c0a554;
}
#navbarSupportedContentex2 div{
  color: white;
}
.ex2-footer span{
  color: white;
  left: 20px;
}
.fas.fa-heart{
  color: #a80624;
  font-size: 40px;

}
.fas.fa-wallet{
  color: #a80624;
  font-size: 40px;
}
.fas.fa-smile{
  color: #a80624;
  font-size: 40px;
}
.ex1 img{
  max-height: 300px;
  max-width: 300px;
  float: right;
}
.cart{
  color: white;
  font-size: 30px;
  right: 10px;
  padding-right: 20px;
}
.ex1-button{
  padding-top:140px;
}
.ex1-button button{
  background-color:cadetblue;
}
/* Lab 4 */
/* ------menu------ */
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 5;
  left: 10;
  background-color: cadetblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.navigation{
  padding: 15px;
  background-color: #a5a4a482;
}
/* ------zoom image------ */


.thumbnail {
    width: 100%;
    height: 450px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}

.thumbnail img:hover {
    transform: scale(2.0);
}
.button-color button{
  background-color: azure;
  color: cadetblue;
}
.amount{
  display: ruby;
}
.col-md-7.pro-name div{
  color: #ff4747;
}
.col-md-7 small{
  font-size: 13px;
  color: black;
}
.product-name{
  font-size: 18px;
}
.product-info {
  color: black !important;
}
.category{
  background-color: cadetblue;
  color: white;
  padding: 10px;
}
.booking button{
  color: white;
  background-color: #ff4747;
}
.booking button a{
  color: white;

}
.col-md-8 form{
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}
.container.booking-cont{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:10em;
}
.col-md-8 form button, form input, form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.wrapper.wrap{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper.wrap > *{
  padding: 1em;
}
.hospital.col-md-4{
  background-color: cadetblue;
}
