.col-md-6{
  padding: 40px;
  width: 100%;
}
div.personal,.group{
  background: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  border-radius: 10px;
  height: 480px;
}
.personal button{
  top:110px;
}
div.sub{
  margin-left: 20px;
  padding: 3px;
}
div.sub a{
  color: #0072ffba;
}
div.sub a:hover{
  color: #00316dba;
}
div.gain{
  padding: 10px 10px 10px 40px;
}
div.sub2 i{
  margin-left: 20px;
  padding: 3px;
  color: #0072ffba;
}
