*{
  padding: 0;
  margin: 0;

}
.navbar-brand{
  background-color: blue;
  color: white;
  width: 150px;
}
.navbar-brand div{
  text-align: center;
}
.nav{
  padding: 0px;
  width: 100%;
  background-color: #334d4d;
}
.nav a{
padding: 50px;
color: white;
}
.review{

  max-width: 100%;
  padding: 100px;
  align-items: center;
  text-align: center;
}
.review i{
  font-size: 50px;
  color: #990000;
  padding-left: 60%;
}
.review p{
  font-size: 20px;
  font-weight: bold;
}


.top-destination{
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #d1e0e0;
}
.top-destination h2{
  justify-content: center;
  padding: 30px;
}
.top-destination img{
  padding: 10px;
}
.people-say{
  text-align: center;
  align-items: center;
  padding: 40px;
}
.people-say h3{
  justify-content: center;
}
.people-say blockquote{
  font-style: italic;
}
.sign-up{
  background-color: #334d4d;
  text-align: center;
  align-items: center;
  padding: 50px;
}
.sign-up div{
  color: white;
  font-size: 20px;
}
.sign-up .pages{
  font-style: italic;
}
.sign-up i{
  color: white;
  font-size: 30px;
  padding: 10px;
}
.sign-up input{
  width: 300px;

}
